services: 
  app:
   build: ./
   volumes: 
   - ./src:/usr/src/app/src
   ports:
     - '4000:4000'
   command: sh -c "npx prisma generate && npm run start:dev"
   environment:
     - PORT=${PORT}
     - ALLOWED_ORIGINS=${ALLOWED_ORIGINS} 
     - DATABASE_URL=${DATABASE_URL}
  auth-db:
    container_name: auth-db
    image: postgres:16.2
    restart: always
    volumes: 
      - ./postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
  auth-redis: 
    container_name: auth-redis
    image: redis:7.2
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
  
volumes:
  redis_data: 